{% extends "./base.html" %}
{% block title %}Editar Criterio de medida{% endblock title %}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Edite el criterio de medida.</h1>
        <div class="card">
            <div class="card-body">
             <form action="/editarCriterio2/"method="POST">{%csrf_token %}
                 <small>Codigo</small>
                 <div class="form-group">
                     
                     <input type="text"id="txtcodigo" value="{{criterio.codigo}}" name="txtcodigo"class="form-contol" placeholder="codigo" minlength="3" maxlength="3" required readonly>
                 </div>
                 <small>Nombre</small>
                 <div class="form-group">
                     
                     <input type="text"value="{{criterio.nombre}}"name="txtnombre"id="txtnombre"class="form-contol" placeholder="nombre" maxlength="10" required>
                 </div>
                 <small>Descripcion</small>  
                 <div class="form-group">
                                                    
                     <input type="text"value="{{criterio.descripcion}}" name="txtdescripcion"id="txtdescripcion"class="form-contol" placeholder="descripcion" maxlength="300" required>
                 </div>
                 <small>Valor</small>
                 <div class="form-group">
                     <input type="number"id="txtpeso"value="{{criterio.peso}}" name="txtpeso"class="form-contol" placeholder="1" maxlength="5" required>
                 </div>
                  <div class="form-group">
                     <button type="submit"class="mt-1 btn btn-success btn-block text-white" >Guardar</button>
                  </div>
             </form>
            </div>   
          </div>  
    </div>  
</div>
{% endblock  %}